@font-face {
    font-family: 'rotoplasbold';
    src: url('fonts/rotoplas-bold-webfont.woff2') format('woff2'),
        url('fonts/rotoplas-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotoplasbold_italic';
    src: url('fonts/rotoplas-bolditalic-webfont.woff2') format('woff2'),
        url('fonts/rotoplas-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotoplaslight';
    src: url('fonts/rotoplas-light-webfont.woff2') format('woff2'),
        url('fonts/rotoplas-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotoplaslight_italic';
    src: url('fonts/rotoplas-lightitalic-webfont.woff2') format('woff2'),
        url('fonts/rotoplas-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotoplas_regularregular';
    src: url('fonts/rotoplas-regular-webfont.woff2') format('woff2'),
        url('fonts/rotoplas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rotoplasregular_italic';
    src: url('fonts/rotoplas-regularitalic-webfont.woff2') format('woff2'),
        url('fonts/rotoplas-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: rotoplas !important;
    background-color: #e7e7e7;
    color: #16263A;
    margin: 0px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

.logo-rtp {
    width: 150px;
}


.informacion {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    color: #002554;
}


#renderproduct {
    width: 60%;
    min-width: 600px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    margin-top: 30px;
}

.contenido {
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.contenido p {
    margin-bottom: 0;
}

canvas {
    position: fixed;
    top: 1px;
    z-index: -10;
}

.fsxl {
    font-size: 40px;
    line-height: 45px;
}

.fsl {
    font-size: 30px;
    line-height: 35px;
}

.fsm {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 20px;
}

.primary {
    color: #009cde;
}


#body-contenedor {
    top: 100px;
    margin: 15px;
    padding: 25px;
    border-radius: 10px;
    background: #ffffffa1;
    backdrop-filter: blur(10px) saturate(1.5);
    z-index: 1000;
    position: absolute;
    width: 30%;
}

#body-contenedor.w-buttons {
    top: 160px !important;
}

hr {
    border: none;
    border-bottom: solid thin #fff;
}

a {
    color: #16263A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bg-light {
    backdrop-filter: blur(10px);
}

h1 {
    padding-left: 15px;
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.dropdown-menu {
    text-align: center !important;
    border: 1px solid #009cde !important;
    border-radius: 10px !important;
}

.dropdown-item {
    color: #009cde !important;
}


.basic-button {
    background: #f5f5f5;
    border: 2px solid #009cde;
    color: #002554;
    width: fit-content;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
}

.basic-button:hover {
    background: #009cde;
    color: #f5f5f5;
}

.selected.basic-button {
    background: #009cde;
    color: #f5f5f5;
    width: fit-content;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    cursor: default;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        align-items: center;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 15px;
        text-align: center;
        color: #009cde !important;
    }
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        position: absolute !important;
        right: 50px !important;
    }
}


@media only screen and (max-width: 400px) {

    #body-contenedor {
        margin: auto;
        padding: 15px;
        border-radius: 10px;
        background: #ffffffa1;
        backdrop-filter: blur(10px) saturate(1.5);
        z-index: 1000;
        display: block;
        width: 90%;
        position: relative;
    }

    canvas {
        position: relative;
        top: 1px;
        z-index: -10;
        height: 70vh !important;
        object-fit: cover;
        object-position: top;
    }

}